*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "sansMedium";
    src: url('/src/fonts/OpenSans-Medium.ttf');
}
@font-face {
    font-family: "sansBold";
    src: url('/src/fonts/OpenSans-ExtraBold.ttf');
}

.sansMedium{
    font-family:  'sansMedium';
}
.sansBold{
    font-family:  'sansBold"';
}

.text-86{
    font-size: 86px;
}
.text-20{
    font-size: 20px;
}
.text-60{
    font-size: 60px;
}

header nav{
    display: flex;
    justify-content: center;
    gap: 200px;
    /* padding: 15px; */
    align-items: center;
}

nav ul{
    display: flex;
    gap: 36px;
    list-style: none;
    
}

.nav-list{
    color: #9893A3;

}
.logo{
    color:#2F2E41;
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;

}

.logo-nav{
    display: flex;
    align-items: center;
    gap: 5px;
}
.nav-list a{
    padding-bottom:5px;
    cursor: pointer;
}

.nav-list a:hover{
    color:#2F2E41;
    font-family: "sansBold";
    border-bottom: 4px solid #9E99FF;
}

.log-in{
    padding: 16px 30px;
    border: 1px solid #6C63FF;
    color: #6C63FF;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
}

.get-started{
    padding: 16px 30px;
    color: #FFFFFF;
    background-color: #6C63FF;
    cursor: pointer;
    border-radius: 2px;
    font-size: 14px;
}
.hamburger{
    display: none;
}

/* content wrapper section */

.content-wrapper{
    margin-top: 75px;
    display: flex;
    justify-content: center;
}
.content-wrapper p{
    color: #9893A3;
    font-weight: 400;
}

.content-box{
    /* display: flex; */
    flex-direction: column;
    gap: 30px;
}
.line-height-34{
    line-height: 34px;
    margin-top:30px ;
}
.content-box a{
 margin-top: 50px;
    padding: 16px 30px;
    color: #FFFFFF;
    background-color: #6C63FF;
    cursor: pointer;
    border-radius: 2px;
    font-size: 14px;
    display: inline-block;
  
}

/* details section */
.details-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    gap: 250px;
}
.image-wrapper{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.image-wrapper img{
    cursor: pointer;
}

.details-box{
    display: flex;
    align-items: center;
    gap: 150px;
}
.details-box p{
    color: #9893A3;
    font-weight: 400;
    white-space: normal;
}

.details-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 24px;
}

.details-box a{
    cursor: pointer;
    display: inline-block;
    /* background: linear-gradient(to bottom, white 50%, #9E99FF 50%); */
}

@media (max-width: 450px){
    .text-86{
        font-size: 46px;
    }
    .text-60{
        font-size: 34px;
    }
    .girl-image{
        width: 388px;
        height: 339px;
    }
    .content-wrapper{
        margin-top: 10px;
    }
    .illustration{
        width: 388px;
        height: 283px;
    }
    
}

@media (max-width: 1200px) {
    .hamburger{
        display: block;
    }
    .nav-list{
        display: none;
    }
    .second-nav-list{
        display: none;
    }
    .nav-wrapper{
        justify-content: space-between;
        gap: 10px;
        padding: 20px;
    }
    .content-wrapper{
        flex-direction: column;
        gap: 40px;
        align-items: center;
        padding: 0 20px;
    }
    .break{
        display: none;
    }
    .girl-image{
        padding-left: 60px;
    }

    /* details section */
    .image-wrapper{
        gap: 40px;
        flex-wrap: wrap;
    }
    .details-box{
        flex-direction: column-reverse;
        padding-left: 30px;
    }

    .details-section{
        gap: 80px;
    }
    
}
